<div class="container container d-flex flex-column">
	<div class="row justify-content-center">

		<div class="col-8">
			<h2>Task list TO DO:</h2>
			<ul class="list-group">
				<% @allTasks.sort_by! {|field| field["created_at"]} %>
				<% @allTasks.each_with_index do |i, j| %>
				<li class="list-group-item <%= i["done"] ? "list-group-item-success" : "list-group-item-primary" %>">

					<div class="container">
						<div class="row d-flex">

							<div class="col-8">
								<h5><%= "#{i["title"]}" %></h5>
								<p><%= "Creada el: #{i["created_at"]}" %></p>
							</div>

							<div class="col-2">
								<form action=<%= "/checkTask/?n=#{i["id"]}" %> method="post" id="didit">
									<input class="form-check-input align-middle" type="submit" value="Done!">
								</form>
							</div>

							<div class="col-2">
								<form action=<%= "/deleteTask/?n=#{i["id"]}" %> method="post" id="deleteit">
									<input class="form-check-input align-middle" type="submit" value="Take it off!">
								</form>
							</div>
						</div>
					</div>

				</li>
				<% end %>
			</ul>
		</div>
		<div class="col-4 d-flex flex-column">
			<div class="row">
				<h1>Gimme a task to do!</h1>
				<form action="/" method="post">
					<input class="col-8" type="text" name="task">
					<input class="col-2 ml-3" type="submit" value="Do it!">
				</form>
				<div class="alert alert-primary mt-3" role="alert">
					Write and Hit Do it! while is not done yet!
				</div>
				<div class="alert alert-success" role="alert">
					Hit DONE! If you nailed it!
				</div>
				<div class="alert alert-secondary" role="alert">
					Hit Take it off! if you wanna TAKE IT OFF!
				</div>
			</div>
			<div class="row">
				<h1>Find it here!</h1>
				<form action="/findTask/" method="post">
					<input class="col-8" type="text" name="look">
					<input class="col-2 ml-3" type="submit" value="Bring it!">
				</form>
			</div>
		</div>
	</div>
</div>
